@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset to default fonts for body, only specific elements will use Julius Sans One */
body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance { text-wrap: balance; }
}
